<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://firebasestorage.googleapis.com/v0/b/my-personal-blog-c2175.appspot.com/o/now-ui-kit.min.css?alt=media&token=f0082c23-3750-49ea-9187-55289af0553f" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="https://firebasestorage.googleapis.com/v0/b/my-personal-blog-c2175.appspot.com/o/demo.css?alt=media&token=d68b3d5c-c0f2-47a9-9bec-c46b2c87f5a0" rel="stylesheet" />


<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<!-- <script src="/assets/js/plugins/bootstrap-switch.js"></script> -->
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<!-- <script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script> -->
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<!-- <script src="/assets/js/plugins/bootstrap-datepicker.min.js" type="text/javascript"></script> -->
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-kit.min.js" type="text/javascript"></script>