        <footer class="footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="/">
                                Programador Web Luciano Braga
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Desenvolvido por
                    <a href="http://www.lucianobragaweb.com" target="_blank">Programador Web Luciano Braga</a>
                    <img src="https://pagespeed-badges.herokuapp.com/?url=lucianobragaweb.com&strat=desktop" alt="Google Page Speed">
                </div>
            </div>
        </footer>