---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR" manifest="manifest.appcache">

<head>
    {% include head_scripts.html %}
</head>

<body class="profile-page">
    {% include head.html %}
    <div class="wrapper">
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="#button" class="btn btn-primary btn-round btn-lg">Siga</a>
                    <a href="https://twitter.com/lucianobragaweb" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Siga no Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="http://fb.com/sitelucianobragaweb" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Curtir no Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="http://github.com/lucianobragaweb" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Siga no Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
                {{ content }}
                
                
            </div>
        </div>
        {% include footer.html %}
    </div>
</body>
    {% include footer_scripts.html %}
</html>